# Ignore node_modules directory
node_modules/

# Ignore build output directories
/dist
/builddir

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore environment-specific files
.env


# Swap the comments on the following lines if you wish to use zero-installs
# In that case, don't forget to run `yarn config set enableGlobalCache false`!
# Documentation here: https://yarnpkg.com/features/caching#zero-installs

#!.yarn/cache
.pnp.*
